---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/impulsur-logo.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} /> 
		<title>Impulsur</title>
	</head>
	<body>
		<h1>Impulsur devs</h1>
	</body>
</html>
