---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Proyectos realizados">
  <section>
    <h1>Explora nuestros ultimos proyectos</h1>
    <p>Somos una agencia dedicada a impusar a pequeños negocios, emprendedores y profesionales que quieren tener su propio sitio web.</p>
    <p>Sabemos que empezar en el mundo digital puede ser dificil, nosotros te solucionamos esa parte para que te concentres en tu negocio.</p>
  </section>
</BaseLayout> 