---
const navLinks = [
  {title:'Servicios', href:'/servicios'},
  {title:'Proyectos', href: '/projectos'},
  {title: 'Sobre mi', href: '/sobre-mi'},
  {title: 'Contacto', href: '/concacto'}
]
---
<header class="header__main">
  <div class="container header__content">
    <a href="/" class="header__logo">
      <img src="/impulsur-logo.webp" alt="">
    </a>

    <nav class="header__nav"> 
      <ul>
        {navLinks.map(link => (
          <li>
          <a href={link.href} class:list={{'active': Astro.url.pathname === link.href}}>{link.title}</a></li>
        ))}
      </ul>
    </nav>
    <a href="/contacto" class="btn btn--primary header__cta">
            Consulta gratis
        </a>
  </div>
</header>

<style>
  .header__main {
    /* background-color: rgb(98, 150, 98); */
    position:sticky;
    top:0;
    z-index:100;
    padding:0.7rem 0;
    /* border-bottom: 1px solid var(--color-light);
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.03); */
  }

  .header__content {
    display: flex;
    justify-content:space-between;
    align-items:center;
    /* gap:1rem;    */
  }

  .header__logo {
    background-color: var(--color-light);
    border-radius:100%;
    border:1px solid rgb(216, 216, 216); 
  }
  .header__logo img{
    width:50px;
    height:50px;
  }

  .header__nav ul {
    display:flex;
    list-style:none;
    padding:0;
    margin:0;
    gap:1.2rem;
  }

  .header__nav a {
    font-size:0.9rem;
    font-weight: 600;
    color: var(--color-primary);
    padding:6px;
    border-radius:50px;
    text-transform: uppercase;
    text-decoration:none;
  }

  .header__nav a:hover,
    .header__nav a.active {
        background-color: var(--color-light)
    }

    .btn {
      text-decoration:none;
      padding: 0.40rem 0.80rem;
      font-weight: 500;
      border-radius: 50px;
      transition: all 0.2s ease;
      white-space: nowrap; /* Evita que el texto del botón se rompa */
    }

    .btn--primary {
      color:var(--color-primary);
      border: 2px solid var(--color-primary);
      
    }

    .btn--primary:hover {
      background-color:var(--color-light);
    }

    @media (max-width: 800px) {
      .header__nav, .header__cta {
        display:none;
      }

      /* Dejar solo el logo en la parte superior izquierda */
        .header__content {
            justify-content: center; /* Centrar el logo o dejarlo a la izquierda */
        }
    }


</style> 