---

const currentPath = Astro.url.pathname

const navLinks = [
  {title:'Inicio', href:'/'},
  {title:'Servicios', href: '/servicios'},
  {title:'Proyectos', href: '/proyectos'},
  {title: 'Acerca de', href: '/acerca-de'},
  {title: 'Contacto', href: '/contacto'}
]
---
<header class="py-4 ">
  <div class="max-w-6xl mx-auto flex justify-between items-center">
    <a href="/">
      <img class="w-16 h-16" src="/impulsur-logo.webp" alt="">
    </a> 

    <div class="flex items-center gap-7"> 
        
      <nav> 
        <ul class="flex items-center gap-8 text-lg font-light ">
          {navLinks.map(link => (
            <li class="">
            <a class={
        ` px-3 py-2 border-b-2 transition duration-100
         ${currentPath === link.href ? 'border-blue-500' : 'border-transparent hover:border-blue-500'}`
      } 
   href={link.href} 
   >
  {link.title}
</a></li>
          ))}
        </ul>
      </nav>
      
      
    </div>
    
  </div>
</header>

 

